body {
    background-color: rgb(23, 141, 72);
}
.wrap {
    top: 0 ;
    left: 0 ;
    height: auto ; 
    width: 100% ;
}
.menu-container {
    top: 0 ;
    left: 0 ;
    position: absolute;
    width: 100% ;
    list-style: none;
}
.menu {
    font: bold 12px/18px sans-sherif;
    text-align: center;
    display: inline; 
    margin: 0; 
    padding: 0;
    list-style: none;
}

.menu li {
    color: lavender;
    display: inline-block;
    margin-right: -2px;
    position: relative;
    padding:   12px 40px;
    border: 1px solid black;
    border-radius: 1.5px;
    background-color:rgb(114, 216, 156) ;
    cursor: pointer;
}

.menu li:hover {
background-color: rgb(173, 223, 194);
color: rgb(0, 0, 0);
}
.menu li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}
.submenu {
    padding:0;
    left: 0 ;
    position: absolute;
    top: 43.5px;
    width: 125.5px;
    opacity: 0;
    visibility: visible;

}


.submenu li {
    color: rgba(147, 73, 207, 0.514);
    background-color: rgba(168, 131, 209, 0.438);
    visibility: visible;
}

.submenu:hover {
    background-color: black;
    display: block;
    color: black;
}