p {
    color: blue;
}
p:hover {
    color:rgba(0, 68, 255, 0.76);
}
  
.overlay:hover {
    opacity: 1;
}

.column {
    height: 200px;
    width: 50%;
    background-color: powderblue;
  }
.center {
    position: absolute;
     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 
.container {
    position: relative;
    text-align: center;
    color: white;
}


  img {
    filter: grayscale(100%);
    border: 2px solid red;
    border-radius: 8px;
    overflow: hidden;   

  }

  img:hover {
    border: 5px solid black;
  }
  p {
      text-align: center;
        font-weight: bold;
  }
  .table {
      border: 2px solid black;
      padding-top: 2em;
      padding-bottom: 2em;
      margin: auto;

  }
  .top-row {
      background-color:beige;   
  }


  .nav {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 50%; /* Full width */
  }

  .nav:hover {
    background: #ddd;
    color: black;
  }
.menu-container {
    color:blanchedalmond;
    max-height: 340px;
    margin: 0% auto;
    content: " ";
    width: 100%;
    position: fixed;
    z-index: 100;
}

.wrap {
    height: 100px;
    width: 100px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    text-align: center;
}

  .nav-link {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    float: center;
    margin: 0;
    padding: 0;
  }

  ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
  }

  li a {
    display: block;
    float: center;
  }

  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {

    display: flex;
  }
  
  .column {
      background-color:rgba(107, 107, 107, 0.438);
    flex: 50%;
  }
.top-left {
    z-index: 100;
}